<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-content">
        <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel congue tincidunt, nisl nibh rutrum nibh, at tincidunt nibh urna in nisi. Sed euismod, enim id condimentum congue, nulla tortor ultrices nisl, id congue nunc nisi sed mauris. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel congue tincidunt, nisl nibh rutrum nibh, at tincidunt nibh urna in nisi. Sed euismod, enim id condimentum congue, nulla tortor ultrices nisl, id congue nunc nisi sed mauris. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel congue tincidunt, nisl nibh rutrum nibh, at tincidunt nibh urna in nisi. Sed euismod, enim id condimentum congue, nulla tortor ultrices nisl, id congue nunc nisi sed mauris. </p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>